/* Common styles */
.food-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Image styles */
  .food-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  /* Title styles */
  .food-name {
    color: #192F60;
  }
  
  /* Description styles */
  .food-description {
    color: #555;
  }
  
  /* Checkbox styles */
  .food-checkbox {
    margin: 30px;
  }
  
  /* Button styles */
  .place-order-btn {
    margin-top: 20px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .food-item {
      flex-direction: column;
    }
    .food-image {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .food-name,
    .food-description {
      text-align: center;
    }
    .food-checkbox {
      margin: 10px 0;
    }
  }
  