.foods-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three items per row */
    gap: 2%; 
    justify-items: center; 
    width: 80%;
}

.food-item {
    display: flex;
    border: 1px solid black;
    background-color: #FFFFFF;
    box-sizing: border-box; /* Include padding in width calculation */
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid rgb(255, 255, 255);
    /* width: calc(100% - 2%); Adjust width to fit in container with gap */
    margin: 10%;
    width: 100%;
    margin-right: 20px;
    padding-right: 10px;
}

.food-info {
    display: flex;
    align-items: center;
}

.food-details {
    margin-left: 10px;
}

.food-item img {
    width: 150px;
    height: 130px;
    margin-right: 10px; /* Add margin to separate image from text */
}
.CW{
    width: 40%;
}
@media screen and (max-width: 768px) {
    .foods-container {
        grid-template-columns: repeat(1, 1fr); /* One item per row on small screens */
        width: 50%;
        justify-content: center;
    }
    .CW{
        width: 100%;
    }
}

